@media
(max-width: 768px) {

    .details-card,
    .books-section {
        width: 100%;
        padding: 20px;
    }

    .books-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media
(max-width: 480px) {
    .books-list {
        grid-template-columns: 1fr;
    }
}