

.container{
    align-items: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 50px;
    margin: 50px auto; /* Center container */
    max-width: 400px; /* Set a maximum width */
    background-color: rgb(39,40 ,40);
    color: white;
    border-radius: 5px;
}

.container input{
    border: none;  
    margin: 15px;
    padding: 9px 15px;
    border-radius: 5px;
    transition: transform 0.3s;
    width: 60%;
}

.container input:hover{
    transform: scale(1.2);
}

.container input:focus{
    transform: scale(1.2);
}

.iconLabel{
    display: inline-block;
}

.submit{
    display: inline-block;
    margin: 20px;
    color: rgb(39,40 ,40);
    border-radius: 5px;
    background-color: rgb(177, 170, 73);
    padding: 8px 10px;
    cursor: pointer;
}

.container a{
    color: gray;
    
    transition: transform 0.3s;
    text-decoration: none;
}

.container a:hover{
    color: white;
    transform: scale(1.2);
}


@media (max-width: 768px) {
  header nav ul {
      flex-direction: column;
      align-items: center;
  }

  ul li {
      margin: 5px 0;
  }

  .container {
      padding: 20px;
      max-width: 90%; /* Take up 90% of the screen width */
      margin: 20px auto; /* Center the container */
  }

  .container input {
      padding: 8px 12px;
  }

  .submit {
      width: 100%; /* Button takes the full width on smaller screens */
      padding: 10px;
  }

  footer {
      display: inline-block;
      font-size: 12px;
      margin-bottom:0;
  }
}

.field-validation-error {
  color: red;  /* Change the text color to red */
  font-size: 14px;  /* Optional: Set the font size */
}

@media (min-width: 1400px) {

  footer{
    margin-bottom:0;
  }

}

.books-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  margin-top: 20px;
}

.book-card {
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: transform 0.3s,background 0.3s;
}


.book-card:hover{
  transform:scale(1.02);
  background-color: #555;
}



.book-card h4 {
  font-size: 18px;
  margin-bottom: 8px;
}

.book-card p {
  font-size: 14px;
  color: #555;
  margin: 4px 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  z-index: 1000;
  /* Ensure it appears above other elements */
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  /* Adjust width as needed */
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #333;
  cursor: pointer;
}

.close-btn:hover {
  color: red;
}













